openapi: 3.0.0
info:
  title: Northbricks Account API
  version: 1.0.0-SNAPSHOT
servers:
  - url: https://api.northbricks.io/api/v1
    description: Production
tags:
- name: accounts
  description: Account operations
paths:
  /banks/{bankId}/accounts:
    get:
      tags:
      - accounts
      summary: Information about accounts
      description: Returns accounts in a bank for the user
      parameters:
        - name: bankId
          in: path
          required: true
          description: Id of the bank.
          schema:
            type: string
      responses:
        200:
          description: Accounts in the bank
          content:
            application/json:
              schema:
                type: object
                properties:
                  accounts:
                    type: array
                    items:
                      $ref: "#/components/schemas/Account"
        400:
          description: Bank not found on user
        401:
          description: Wrong credentials
      security:
        - OAuth2:
          - "account:read"

  /banks/{bankId}/accounts/{accountId}:
    get:
      tags:
      - accounts
      summary: Information about an account
      description: Returns the account
      parameters:
        - name: bankId
          in: path
          required: true
          description: Id of the bank.
          schema:
            type: string
        - name: accountId
          in: path
          required: true
          description: Id of the account.
          schema:
            type: string
      responses:
        200:
          description: The account
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Account"
        400:
          description: Account not found on user
        401:
          description: Wrong credentials
      security:
        - OAuth2:
          - "account:read"

components:
  schemas:
    Account:
      type: object
      properties:
        id:
          type: string
        iban:
          type: string
        type:
          type: string
        status:
          type: string
        currency:
          type: string
        balance:
          type: number
          format: double
        owner:
          type: object
          properties:
            name:
              type: string

  securitySchemes:
    OAuth2:
      type: oauth2
      description: This API uses OAuth 2 with the authorization code flow.
      flows:
        authorizationCode:
          authorizationUrl: https://api.northbricks.io/oauth/authorize
          tokenUrl: https://api.northbricks.io/oauth/token
          scopes:
            "account:read": Grants read access
