swagger: "2.0"
info:
  version: "1.0.0-SNAPSHOT"
  title: "Northbricks Transaction API"
host: "api.northbricks.io"
#host: "localhost:8080"
basePath: "/api/v1"
tags:
- name: "transaction"
  description: "Transaction operations"
schemes:
- "http"
paths:
  /transactions:
    get:
      tags:
      - "transaction"
      summary: "List transactions"
      description: "Returns all transactions for the user"
      produces:
      - "application/json"
      parameters:
      - name: "userId"
        in: "query"
        description: "ID of user to get transactions from"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            type: array
            items:
              $ref: "#/definitions/Transaction"
        400:
          description: "Invalid userId supplied"
        404:
          description: "User not found"
      security:
      - api_key: []
  /transactions/{transactionId}:
    get:
      tags:
      - "transaction"
      summary: "Returns a transaction"
      description: "Returns all information about a transaction"
      produces:
      - "application/json"
      parameters:
      - name: "transactionId"
        in: "path"
        description: "ID of the transaction to get"
        required: true
        type: "integer"
        format: "int64"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Transaction"
        400:
          description: "Invalid userId supplied"
        404:
          description: "User not found"
      security:
      - api_key: []
definitions:
  Transaction:
    type: "object"
    properties:
      id:
        type: "integer"
        format: "int64"
      amount:
        type: "number"
        format: "float"
      description:
        type: "string"