<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%- seo -%}
    <script src="/assets/webcomponents/webcomponents-loader.js"></script>
    <script src="/assets/rapidoc-min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Fjalla+One&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Noto+Sans&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap">
    <link href="/assets/fontawesome/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <meta name="theme-color" content="#ffffff" />
    <link rel="manifest" href="/assets/manifest.json" />
    {%- feed_meta -%}
</head>