openapi: 3.0.0
info:
  title: Northbricks Transaction API
  version: 1.0.0-SNAPSHOT
servers:
  - url: https://api.northbricks.io/api/v1
    description: Production
tags:
- name: Transactions
  description: Transaction operations
paths:
  /banks/{bankId}/accounts/{accountId}/transactions:
    get:
      tags:
      - Transactions
      summary: Get all transactions
      description: Returns all transactions for the user
      parameters:
        - name: bankId
          in: path
          description: ID of bank
          required: true
          schema:
            type: string
        - name: accountId
          in: path
          description: ID of account
          required: true
          schema:
            type: string
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    items:
                      $ref: "#/components/schemas/Transaction"
        400:
          description: Bank account not found on user
        401:
          description: Wrong credentials
      security:
        - OAuth2:
          - "transaction:read"

  /banks/{bankId}/accounts/{accountId}/transactions/{transactionId}:
    get:
      tags:
      - Transactions
      summary: Get transaction
      description: Returns all information about a transaction
      parameters:
        - name: bankId
          in: path
          description: ID of bank
          required: true
          schema:
            type: string
        - name: accountId
          in: path
          description: ID of account
          required: true
          schema:
            type: string
        - name: transactionId
          in: path
          description: ID of transaction
          required: true
          schema:
            type: string
      responses:
        200:
          description: Successful operation
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Transaction"
        400:
          description: Bank account not found on user
        401:
          description: Wrong credentials
      security:
        - OAuth2:
          - "transaction:read"

components:
  schemas:
    Transaction:
      type: object
      properties:
        id:
          type: string
        description:
          type: string
        bookingDate:
          type: string
          format: date-time
        valueDate:
          type: string
          format: date-time
        amount:
          type: object
          properties:
            value:
              type: number
              format: double
            currency:
              type: string
        relatedParty:
          type: object
          properties:
            name:
              type: string

  securitySchemes:
    OAuth2:
      type: oauth2
      description: This API uses OAuth 2 with the authorization code flow.
      flows:
        authorizationCode:
          authorizationUrl: https://api.northbricks.io/oauth/authorize
          tokenUrl: https://api.northbricks.io/oauth/token
          scopes:
            "account:read": Grants read access
