swagger: "2.0"
info:
  version: 1.0.0-SNAPSHOT
  title: Northbricks Transaction API
host: api.northbricks.io
basePath: /api/v1
tags:
- name: transactions
  description: Transaction operations
schemes:
- https
paths:
  /banks/{bankId}/accounts/{accountId}/transactions:
    get:
      tags:
      - transactions
      summary: List transactions
      description: Returns all transactions for the user
      produces:
      - application/json
      parameters:
      - name: bankId
        in: path
        description: ID of bank
        required: true
        type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            type: array
            items:
              $ref: "#/definitions/Transaction"
      security:
        - OAuth2:
          - "transaction:read"
  /banks/{bankId}/accounts/{accountId}/transactions/{transactionId}:
    get:
      tags:
      - transactions
      summary: Returns a transaction
      description: Returns all information about a transaction
      produces:
      - application/json
      parameters:
      - name: bankId
        in: path
        description: ID of bank
        required: true
        type: string
      - name: accountId
        in: path
        description: ID of account
        required: true
        type: string
      - name: transactionId
        in: path
        description: ID of transaction
        required: true
        type: string
      responses:
        200:
          description: Successful operation
          schema:
            $ref: "#/definitions/Transaction"
        404:
          description: Transaction not found
      security:
        - OAuth2:
          - transaction:read
definitions:
  Transaction:
    type: object
    properties:
      id:
        type: string
      type:
        type: string
      description:
        type: string
      bookingDate:
        type: string
        format: date-time
      valueDate:
        type: string
        format: date-time
      amount:
        type: object
        properties:
          value:
            type: number
            format: double
          currency:
            type: string
      relatedParty:
        type: object
        properties:
          name:
            type: string
securityDefinitions:
  OAuth2:
    type: oauth2
    description: This API uses OAuth 2 with the authorization code flow.
    flow: accessCode
    authorizationUrl: https://api.northbricks.io/oauth/authorize
    tokenUrl: https://api.northbricks.io/oauth/token
    scopes:
      "transaction:read": Grants read access